.btn-link {
    display: inline-block;
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

    .btn-link:hover {
        background-color: #038c5a;
    }
