<h2>Welcome to the Dashboard!</h2>
@if (User.IsInRole("Admin"))
{
    <a href="/Markets/Add" class="btn btn-primary">Add New Market</a>
}

<a asp-controller="Product" asp-action="Index" class="btn btn-primary">Manage Products</a>
