<h2>Welcome to the Dashboard!</h2>

@if (User.IsInRole("Admin"))
{
   
    <a asp-controller="Markets" asp-action="Index" class="btn btn-secondary">Manage Markets</a>
}

<a asp-controller="Product" asp-action="Index" class="btn btn-primary mt-3">Manage Products</a>
