 @model Login

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>

    <form action="https://localhost:7279/account/dashboard" method="post">
        <div class="center-wrapper">
        <div class="imgcontainer">
            <img src="/img/cityboneslogo.jpeg" alt="Avatar" class="avatar">
        </div>

        <div class="container">

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

            <a href="https://localhost:7279/account/forgotpassword" class="btn-link">Forgot Password?</a>
        </div>
       
    </form>

</body>
</html>
