@model Login

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>

    <form asp-action="Login" method="post">
        @Html.AntiForgeryToken()

        <div class="center-wrapper">

            <div class="imgcontainer">
                <img src="/img/cityboneslogo.jpeg" alt="Avatar" class="avatar">
            </div>

            <div class="container">

                <label asp-for="Email"><b>Email</b></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                <span asp-validation-for="Email" class="text-danger"></span>

                <label asp-for="Password"><b>Password</b></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <button type="submit">Login</button>

                <label>
                    <input type="checkbox" name="remember" checked /> Remember me
                </label>
            </div>

            <a asp-action="ForgotPassword" asp-controller="Account" class="btn-link">Forgot Password?</a>
        </div>
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>
